@import "../bootstrap-4.4.1/scss/bootstrap.scss";

$font-size-base: 1rem;
$header-jumbotron-height: 300px;
$primary-color: #0275d8;
$secondary-backround-color: #FAFAFA;
$section-padding: 80px;
$text-color-white: #FFF;
$active-color: #00bfff;


//=== Global ===

.light{
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.dark{
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color: $secondary-backround-color;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.link{
  color: gray;

  &:hover{
    color: $primary-color;
  }
}


//=== Page-Header ===

.page-header{
  background-image: url("/img/header/server-vanilla.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


//=== Navbar ===

.navbar {
  background-color: transparent;
}

.brand-name{
  font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFF;

  &:hover{
    color: $primary-color;

  }
}

.navbar-dark .navbar-brand {
  padding-top: .3rem;
  padding-left: 0;
}

.navbar-brand.nav-item.nav-link:hover {
  color: $primary-color;
}

.navbar-dark .navbar-nav .dropdown-item {
  color: #FFF;

  &:hover{
    color: $primary-color;
    background: none;
    text-decoration: none;
  }
}

.navbar-dark .navbar-nav .dropdown-menu{
  background: none;
  border: none;
}

.navbar-dark .active{
  color: $active-color;
}

.navbar-dark .navbar-nav .active{
  background-color: transparent;
  color: $active-color;
}

.navbar-dark .navbar-nav .dropdown .active{
  color: $active-color;

  &:hover{
    color: $primary-color;
  }
}


//=== Jumbotron ===

.header-jumbotron {
  background-color: transparent;
  color: #FFF;
  height: $header-jumbotron-height;

  @include media-breakpoint-up(sm) {
    height: $header-jumbotron-height + 50px;
  }

  @include media-breakpoint-up(md) {
    height: $header-jumbotron-height + 80px;
  }

  @include media-breakpoint-up(lg) {
    height: $header-jumbotron-height + 100px;
  }
}


//=== Anschreiben ===

.signature{
  font-size: 1.2rem;
}


//=== About Me ===

.job {
  margin-top: 80px;
  text-align: right;

  & ~ p{
    text-align: right;
  }
}

@include media-breakpoint-only(md) {

  .personal {
    margin-top: 0;
  }

  .job {
    margin-top: 0;
    text-align: right;

    & ~ p{
      text-align: right;
    }
  }

  #image{
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-only(sm) {

  .personal {
    margin-top: 0px;
  }

  .job {
    margin-top: 3rem;
    text-align: left;

    & ~ p{
      text-align: left;
    }
  }

  .about-me-paragraph{
    margin-bottom: 3rem;
  }

  #image{
    display: none;
  }
}

@include media-breakpoint-only(xs) {

  .personal {
    margin-top: 0px;
  }

  .job {
    margin-top: 3rem;
    text-align: left;

    & ~ p{
      text-align: left;
    }
  }

  .about-me-paragraph{
    margin-bottom: 3rem;
  }

  #image{
    display: none;
  }
}

.social-media-icon{
  color: #000;
  font-size: 1.5rem;
  border: 2px solid #000;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: block;
  text-align: center;
  margin: 0.4rem 0.2rem 0.2rem 0.2rem;

  &:hover{
    border: 2px solid $primary-color;
    color: $primary-color;
    text-decoration: none;
  }
}


//=== Projekte ===


//=== Kontakt ===

.dark{

  .button{
    background-color: $primary-color;
    color: $text-color-white;
  }

    .contact-message{
      height: 6rem;

      @include media-breakpoint-up(sm) {
        height: 100%;
    }
  }
}


//=== Footer ===

footer{
  font-size: 1.2rem;
}


//=== Java Template ===

.jumbotron-other > h5{
  margin-top: 2rem;
}

.headline-project{
  padding-bottom: .5rem;
  border-bottom: 1px solid darkgray;
}

.date{
  float: right;
}

.head-image {
  align-items: flex-end;
  display: flex;
}

.video-player{
  width: 64rem;
  height: 36rem;
  outline: none;
  margin-bottom: 3rem;
}

.list{
  margin-top: 3rem;
}

@include media-breakpoint-only(lg) {

  .video-player{
    width: 48rem;
    height: 27rem;
    outline: none;
  }
}

@include media-breakpoint-only(md) {

  .video-player{
    width: 32rem;
    height: 18rem;
    outline: none;
  }
}

@include media-breakpoint-between(md, lg) {

  .head-image{
    display: none;
  }

  .carousel{
    display: none;
  }

  .description{
    text-align: left;
  }
}

@include media-breakpoint-between(xs, sm) {

  .head-image{
    display: none;
  }

  .carousel{
    display: none;
  }

  .video-player{
    display: none;
    margin-bottom: 0;
  }

  .description{
    text-align: left;
  }

  .list{
    margin-top: 0;
  }

  .list-2{
    display: none;
  }
}

a:hover{
  text-decoration: none;
}