@import "../bootstrap-4.4.1/scss/bootstrap.scss";

$font-size-base: 1rem;
$header-jumbotron-height: 300px;
$primary-color: #0275d8;
$secondary-backround-color: #FAFAFA;
$section-padding: 80px;
$text-color-white: #FFF;
$active-color: #00bfff;


//=== Global ===

.light{
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.dark{
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color: $secondary-backround-color;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.date{
  float: right;
}

.jumbotron-other > h5{
  margin-top: 2rem;
}

.project-title{
  border-bottom: 1px solid darkgray;
}

a:hover{
  text-decoration: none;
}


//=== Page-Header ===

.page-header{
  background-image: url("/img/header/server-vanilla.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


//=== Navbar ===

.navbar {
  background-color: transparent;
}

.brand-name{
  font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFF;

  &:hover{
    color: $primary-color;

  }
}

.navbar-dark .navbar-brand {
  padding-top: .3rem;
  padding-left: 0;
}

.navbar-brand.nav-item.nav-link:hover {
  color: $primary-color;
}

.navbar-dark .navbar-nav .dropdown-item {
  color: #FFF;

  &:hover{
    color: $primary-color;
    background: none;
    text-decoration: none;
  }
}

.navbar-dark .navbar-nav .dropdown-menu{
  background: none;
  border: none;
}

.navbar-dark .active{
  color: $active-color;
}

.navbar-dark .navbar-nav .active{
  background-color: transparent;
  color: $active-color;
}

.navbar-dark .navbar-nav .dropdown .active{
  color: $active-color;

  &:hover{
    color: $primary-color;
  }
}


//=== Jumbotron ===

.header-jumbotron {
  background-color: transparent;
  color: #FFF;
  height: $header-jumbotron-height;

  @include media-breakpoint-up(sm) {
    height: $header-jumbotron-height + 50px;
  }

  @include media-breakpoint-up(md) {
    height: $header-jumbotron-height + 80px;
  }

  @include media-breakpoint-up(lg) {
    height: $header-jumbotron-height + 100px;
  }
}


//=== About Me ===

#aboutMe{
  background-image: url("/img/index/about-me/powder-sm.jpg");
  background-repeat: no-repeat;
}

.personal {
  margin-top: 80px;
}

.job {
  margin-top: 80px;
  text-align: right;

  & ~ p{
    text-align: right;
  }
}

#hidden-image {
  opacity:0;
  border-radius: 3%;
}

@include media-breakpoint-only(md) {

  .personal {
    margin-top: 0;
  }

  .job {
    margin-top: 0;
    text-align: right;

    & ~ p{
      text-align: right;
    }
  }

  #hidden-image{
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-only(sm) {

  .personal {
    margin-top: 0px;
  }

  .job {
    margin-top: 3rem;
    text-align: left;

    & ~ p{
      text-align: left;
    }
  }

  .about-me-paragraph{
    margin-bottom: 3rem;
  }

  #hidden-image{
    display: none;
  }
}

@include media-breakpoint-only(xs) {

  .personal {
    margin-top: 0px;
  }

  .job {
    margin-top: 3rem;
    text-align: left;

    & ~ p{
      text-align: left;
    }
  }

  .about-me-paragraph{
    margin-bottom: 3rem;
  }

  #hidden-image{
    display: none;
  }
}


//=== Bereich über diese Seite ===


//=== Projekte ===

.paragraph{
  padding-bottom: $section-padding;
}


//=== Kontakt ===

.dark{

  .button{
    background-color: $primary-color;
    color: $text-color-white;
  }

    .contact-message{
      height: 6rem;

      @include media-breakpoint-up(sm) {
        height: 100%;
    }
  }
}


//=== Footer ===

.copyright-text{
  font-size: .9rem;
}


//=== Bootstrap-Section ===


//=== Git-Section ===


//=== HTML-Section ===


//=== Java-Carousel ===


//=== MySQL-Section ===


//=== Spring-Section ===