<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marco Happe | Junior Java Dev.</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet" media="screen"/>

</head>
<body>

<!--    === Header ===-->

<header class="page-header" id="header">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand nav-item nav-link active brand-name" href="index.html">M. Happe<span
                    class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#application">Anschreiben</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#aboutMe">Über&nbsp;mich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#projects">Projekte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Kontakt</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Portfolio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="java.html">Java</a>
                            <a class="dropdown-item" href="spring-framework.html">Spring&nbsp;Framework</a>
                            <a class="dropdown-item" href="webdesign.html">HTML/CSS</a>
                            <a class="dropdown-item" href="golden.html">Bootstrap/Sass</a>
                            <a class="dropdown-item" href="mySql.html">MySQL</a>
                            <a class="dropdown-item" href="git.html">Git/GitHub</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron header-jumbotron text-center font-italic text-center d-flex flex-column align-items-center mb-0">
            <h2 class="pb-3">Herzlich Willkommen!</h2>
            <h5 class="pb-3">Hier finden Sie einen Überblick über mein Portfolio mit einigen meiner Projekte.</h5>
            <a class="btn btn-primary" href="#projects" role="button">Mehr anzeigen</a>
        </div>
    </div>

</header>

<!--    === Anschreiben ===-->

<section class="light" id="application">

    <div class="container">
        <div class="col-12">
            <h4 class="text-center font-weight-bold mb-3">Anschreiben</h4>
            <article class="text-center font-italic">
                <p>Sehr geehrte Damen und Herren, diese Webseite ist mein Bewerbungsschreiben an Sie. Ich möchte mich
                    damit bei
                    Ihnen vorstellen und Ihnen meine Erfahrungen in den verschieden Bereichen präsentieren. Im
                    nachfolgendem
                    Abschnitt können Sie mehr über meine Persönlichkeit und was mich ausmacht erfahren.
                </p>
                <p>
                    Diese Seite wurde von mir designed und geschrieben, alle Texte stammen ebenfalls von mir.
                    Die Grundlagen um dieses Projekt umzusetzen habe ich in verschiedenen Kursen erworben, unter anderem
                    Spring Framework 5, Bootstrap, Sass, HTML5 und CSS3.
                    Über die einzelnen Kurse können Sie <a class="link" href="#projects">hier</a> mehr erfahren.
                    In den einzelnen Projekten erfahren Sie, darüber hinaus, mehr über meine Kurse und über ein Projekt
                    aus dem
                    jeweiligen Themenbereich.
                    Des weiteren finden Sie, in der Projektübersicht, einen Link zu meinem GitHub
                    Profil.
                </p>
                <p>
                    Sollte Ihnen meine Arbeit zusagen und Sie möchten mich kontaktieren, können Sie dafür gern
                    <a class="link" href="#contact">dieses Kontaktformular</a> verwenden, ich würde mich sehr über ein
                    Feedback von Ihnen freuen.
                </p>
                <p class="mb-5">Ich wünsche Ihnen viel Spaß mit meiner Bewerbung und freue mich schon
                    bald von Ihnen zu hören.
                </p>
                <p class="mb-3">Mit freundlichen Grüßen</p>
                <p class="font-weight-bold signature">Marco Happe</p>

            </article>
        </div>

    </div>

</section>


<!--    === Über mich ===-->

<section class="dark" id="aboutMe">

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="font-weight-bold mb-3">Ein Junior Java Developer aus dem schönen Wien</h4>
                <p class="about-me-paragraph font-italic mb-5 description-text-left">
                    Mein Name ist Marco Happe und ich befinde mich zur Zeit auf der Suche nach einer neuen
                    Herausforderung als Junior Java Developer in Wien.
                    Im Jahr 2019 habe ich einen 6 monatigen Java Kurs am WIFI Wien absolviert und diesen mit sehr
                    gutem
                    Erfolg abgeschlossen. Seit September 2019 arbeite ich, zweimal wöchentlich, mit einem
                    Privatlehrer
                    an meinen Fähigkeiten in Java und anderen Bereichen.
                    Des weiteren habe ich die Zeit, seit September, genutzt um mich in verschiedenen anderen
                    Technologien
                    einzuarbeiten.
                    Dazu zählen unter anderem das Spring Framework, Bootstrap, Sass, MySQL, HTML5, CSS3, Git und
                    GitHub.
                    In näherer Zukunft plane ich einen JavaScript Kurs zu besuchen und meine Kenntnisse auf das
                    Spring
                    Framework zu spezialisieren.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-12 text-center mr-0">
                <img id="image" src="img/index/about-me/profile-image-II.jpg" alt="Profilbild von Marco Happe">
            </div>
            <div class="col-xl-6 col-lg-12">
                <article>
                    <h4 class="personal pb-3"><u>persönliches</u></h4>
                    <p>
                        Top 5 Talentschwerpunkte laut
                        <a class="link" href="https://www.gallup.com/corporate/212381/who-we-are.aspx" target="_blank">
                            Gallup Report:
                        </a>
                        Wissbegier, Leistungsorientierung, Zukunftsorientierung, Verantwortungsgefühl und Fokus
                    </p>
                    <p>
                        Sehr hohe Eigenmotivation, wenn es darum geht komplexe Probleme anzugehen und in kleinere
                        Probleme zu
                        zerlegen.
                    </p>
                    <p>
                        Neugierig auf neues, lernen und Veränderung gehören zum Leben. Nur dadurch kann wahre Innovation
                        entstehen.
                    </p>
                    <p>
                        Kreativer Kopf, bereit neue Wege zu gehen. Gestalter meines Lebens und nicht Spielball des
                        Lebens.
                    </p>
                    <p>
                        Kein 9 to 5 Arbeiter und kein 08/15 Job annehmender!
                    </p>
                    <p>
                        Positiv Denker und kein Schwarzmaler!
                    </p>

                    <h4 class="job pb-3"><u>fachliches</u></h4>
                    <p>
                        Junior Developer mit Kenntnissen in Java, Spring, Bootstrap, Sass, HTML5
                        & CSS3, MySQL und Git/GitHub.
                    </p>
                    <p>
                        Definitiv kein Designer, was ich mit dieser Webseite unter Beweis stelle. Aber mit
                        Spaß daran auch solche Herausforderungen anzugehen.
                    </p>
                    <p>
                        Auf der Suche nach einem Team das zusammen daran arbeitet gemeinsam Ziele zu
                        erreichen und einen neuen Mitstreiter sucht.
                    </p>
                    <p>
                        Muttersprache deutsch, englisch fließend (ein Monat Aufenthalt in den USA).
                    </p>
                    <p>
                        Eigenständig und trotzdem Teamplayer!
                    </p>
                </article>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
                <a class="social-media-icon d-flex flex-column justify-content-center mr-3"
                   href="https://github.com/Entremetier" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a class="social-media-icon d-flex flex-column justify-content-center mr-3"
                   href="https://www.linkedin.com/in/marco-happe-5947671a3/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="social-media-icon d-flex flex-column justify-content-center"
                   href="https://www.facebook.com/marco.happe.5" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </div>

</section>


<!--    === Projekte ===-->

<section class="light" id="projects">

    <div class="container">
        <h4 class="text-center font-weight-bold">Projekte</h4>
        <p class="text-center text-muted font-italic mb-5">
            Einige Projekte und Beispiele aus meinen Kursen
        </p>

        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">

            <div class="col mb-4">
                <div class="card h-100 mb-4">
                    <img src="img/index/index-cards/java.jpg" class="card-img-top" alt="Code Abschnitt mit Java Code">
                    <div class="card-body">
                        <h5 class="card-title text-center">Java</h5>
                        <p class="card-text">
                            Ein kleines Spiel, als Desktop Gui, bei dem die Daten von 2 Personen
                            miteinander verglichen werden und der Spieler mit der höheren Punktzahl gewinnt.
                        </p>
                        <a href="java.html#java-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100  mb-4">
                    <img src="img/index/index-cards/spring-framework.png" class="card-img-top"
                         alt="Code Abschnitt mit Spring Controller">
                    <div class="card-body">
                        <h5 class="card-title text-center">Spring Framework</h5>
                        <p class="card-text">
                            Eines der bekanntesten Projekte um das Spring Framework kennenzulernen, die Pet Clinic.
                            Von meinem Trainer neu aufgesetzt um die Neuerungen zu präsentieren.
                        </p>
                        <a href="spring-framework.html#spring-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mb-4">
                    <img src="img/index/index-cards/html5.png" class="card-img-top" alt="Code Abschnitt mit HTML5">
                    <div class="card-body">
                        <h5 class="card-title text-center">HTML5 & CSS3</h5>
                        <p class="card-text">
                            Ein Webseite die mit HTML und CSS erstellt wurde. Diesen Kurs
                            habe ich belegt um HTML5 und CSS3 schreiben und lesen zu lernen.
                        </p>
                        <a href="webdesign.html#html-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mb-4">
                    <img src="img/index/index-cards/bootstrap.png" class="card-img-top" alt="Code Abschnitt mit SASS">
                    <div class="card-body">
                        <h5 class="card-title text-center">Bootstrap & Sass</h5>
                        <p class="card-text">
                            Eine Webseite die mit Bootstrap und Sass erstellt wurde. Diesen
                            Kurs habe ich belegt um auf dem neuesten Stand der Webentwicklung zu sein.
                        </p>
                        <a href="golden.html#bootstrap-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mb-4">
                    <img src="img/index/index-cards/mysql.jpg" class="card-img-top" alt="MySQL Logo">
                    <div class="card-body">
                        <h5 class="card-title text-center">MySQL</h5>
                        <p class="card-text">
                            Eine Übersicht der Datenbanken und Themen die im Kurs behandelt wurden.
                            Des weiteren einige Aufgaben und die jeweilige Lösung.
                        </p>
                        <a href="mySql.html#mySql-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mb-4">
                    <img src="img/index/index-cards/git-1-300x300.png" class="card-img-top" alt="Github Logo">
                    <div class="card-body">
                        <h5 class="card-title text-center">Git & GitHub</h5>
                        <p class="card-text">
                            Eine Übersicht der Themen die im Kurs
                            behandelt wurden. Des weiteren einige Aufgaben und die jeweilige Lösung.
                            <a class="link" href="https://github.com/Entremetier" target="_blank">Hier</a> gehts
                            direkt zu meinem GitHub Profil.
                        </p>
                        <a href="git.html#git-intro" class="card-link">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<!--    === Kontakt ===-->

<section id="contact" class="dark">

    <div class="container">
        <h4 class="text-center font-weight-bold">Kontakt</h4>
        <p class="paragraph-white text-center font-italic pb-5">Wenn Sie mich kontaktieren möchten können Sie
            gern dieses Kontaktformular verwenden.</p>

        <form action="" method="POST">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <input class="form-control mb-3" type="text" name="name" placeholder="Name *" required>
                    <input class="form-control mb-3" type="email" name="email" placeholder="E-Mail *" required>
                    <input class="form-control mb-3 mb-sm-3 mb-md-0" type="text" name="subject" placeholder="Betreff">
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <textarea class="form-control contact-message" name="message" placeholder="Nachricht *"
                              required></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-4" type="submit" name="submit-button">Abschicken</button>
            </div>

        </form>
    </div>

</section>

<!--    === Footer ===-->
<footer>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="mt-3 copyright-text text-center">
                    &copy;2020 <a class="link" href="#header">Marco Happe</a>
                </p>
            </div>
        </div>
    </div>

</footer>


<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>