<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MySQL</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="/css/styles.css" rel="stylesheet" media="screen"/>

</head>
<body>
<!--    === Header ===-->

<header class="page-header">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand nav-item nav-link brand-name" href="index.html">M. Happe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#aboutMe">Über&nbsp;mich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#projects">Projekte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Kontakt</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Portfolio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="java.html">Java</a>
                            <a class="dropdown-item" href="spring-framework.html">Spring&nbsp;Framework</a>
                            <a class="dropdown-item" href="webdesign.html">HTML/CSS</a>
                            <a class="dropdown-item" href="golden.html">Bootstrap/Sass</a>
                            <a class="dropdown-item active" href="mySql.html">MySQL<span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron jumbotron-other header-jumbotron text-center font-italic text-center d-flex flex-column align-items-center mb-0">
            <h5 class="pt-5 pb-3">Zurück zur Übersicht meines Portfolios.</h5>
            <a class="btn btn-primary" href="index.html#projects" role="button">Mehr anzeigen</a>
        </div>

    </div>

</header>


<!--    === MySQL-Intro ===-->

<section class="light" id="mySql-intro">

    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <h1 class="headline-project">MySQL</h1>
                <p class="font-italic text-muted pb-3">
                    Online-Kurs<span class="date">April 2020</span>
                </p>
                <article>
                    <p>
                        In diesem Kurs wurde mit zwei verschiedenen Datenbanken gearbeitet, eine kleine Übungsdatenbank
                        mit 6 Tables und die Northwind Datenbank von Microsoft mit 20 Tables.
                    </p>
                    <p>
                        Es gab zu jedem Themenbereich Übungsaufgaben und einen Bereich am Ende in dem alle Themen in
                        mehreren Aufgaben wiederholt wurden.
                    </p>
                    <p>
                        Da in diesem Kurs nicht alle Themen zu meiner Zufriedenheit abgedeckt wurden bin ich
                        aktuell in einem weiteren MySQL Kurs eingeschrieben.
                    </p>
                </article>
            </div>
            <div class="col-xl-6 offset-xl-1 text-center head-image"><img
                    src="img/mySql/mySql-header/database-schema-sm.png"
                    alt="Database Schema"></div>
        </div>
    </div>

</section>


<!--    === MySQL-Overview ===-->

<section class="dark">

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="headline-project mb-3">MySQL Datenbanksystem</h4>
                <p class="col-12 text-center font-italic text-muted mb-5">
                    Lösen einer Aufgabe aus dem Kurs und ein Statement warum ich MySQL gelernt habe
                </p>

                <div class="col-12 text-center">
                    <video class="video-player" src="mov/mySql/mySql-assignment.mp4" controls>
                        <p>
                            Das Video kann leider nicht wiedergegeben werden.
                        </p>
                    </video>
                </div>

                <article class="description-text-left">
                    <p>
                        Datenbankkenntnisse sind in der Industrie starkt gefragt. Überall im täglichen Leben sind wir
                        mit Datenbanken konfrontiert. Von der kleinen Fotoverwaltung, Messangerdiensten wie WhatsApp
                        bis hin zu großen ERP-Systemen für Finanzbuchhaltung, Controlling, Einkauf, Personalwesen usw.
                        im Unternehmen.
                    </p>
                    <p>
                        Ich habe mich für einen MySQL Kurs entschieden weil es in vielen Bereichen die Nummer Eins unter
                        den Datenbanksystemen ist.
                        Da ich mit meinem Kurs nicht ganz zufrieden war habe ich mich noch in einen weiteren
                        eingeschrieben, um die Themen zu behandeln die in meinem ersten Kurs zu kurz gekommen sind.
                        Ich möchte mir ein sehr gutes Fachwissen in diesem Bereich aneignen da, wie ich eingangs schon
                        erwähnt habe, wir in vielen Bereichen mit Datenbanken arbeiten.
                    </p>
                    <p>
                        Zukünftig plane ich mich auch mit anderen Datenbanksystemen auseinander zu setzten um in diesem
                        Bereich flexibler zu sein und die richtige Datenbank für das richtige Projekt zu benutzen.
                        Im Vordergrund steht allerdings vorerst das aufbauen eines soliden Fachwissens in MySQL.
                    </p>
                </article>
            </div>
        </div>
    </div>

</section>


<!--    === MySQL-Carousel ===-->

<section class="light carousel">

    <div class="container">

        <h4 class="headline-project text-center mb-5">Aufgaben und Lösungen aus dem Kurs</h4>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/mySql/carousel/subselect-94.PNG"
                         class="d-block w-100"
                         alt="MySQL Subselect Statement">
                    <div class="carousel-caption-mySql d-none d-md-block bg-dark">
                        <h5>Mitarbeiter der Datenbank hinzufügen</h5>
                        <p>
                            Durch ein Subselect Statement wird der Datenbank ein neuer Mitarbeiter hinzugefügt.
                            Dafür wird, aus der Tabelle employees, über ein Select Statment, die höchste emp_no gesucht
                            und um Eins erhöht.
                            Im Anschluss werden die Daten des Mitarbeiters eingetragen und durch den insert into Befehl
                            gespeichert.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/mySql/carousel/assignment-142.PNG" class="d-block w-100"
                         alt="Einen View in MySQL erstellen">
                    <div class="carousel-caption-mySql d-none d-md-block bg-dark">
                        <h5>View mit den ausgesuchten Daten erstellen</h5>
                        <p>
                            Die Tabellen werden über den jeweiligen foreign key angesprochen und die Daten extrahiert.
                            In dieser Datenbank, Northwind, haben die Werte, wie in einer realistischen Datenbank,
                            nicht immer den gleichen Namen (die id aus dem employees table ist im orders table als
                            employee-id angegeben).
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/mySql/carousel/show-view.PNG" class="d-block w-100"
                         alt="Ausgeben der Daten aus der Vorangegangenen Aufgabe">
                    <div class="carousel-caption-mySql d-none d-md-block bg-dark">
                        <h5>Ausgeben der Daten aus der Vorangegangenen Aufgabe</h5>
                        <p>
                            Die gewünschten Daten werden ausgegeben.
                            Links unter Schemas kann man, im Abschnitt Views, sehen das der gewünschte View gespeichert
                            wurde.
                            Diesen kann man bearbeiten ohne die eigentlichen Daten zu verändern.
                            Man kann sagen das ein View so etwas ein gespeichertes Select Statement ist.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/mySql/carousel/after-drop-view.PNG" class="d-block w-100"
                         alt="Nachdem der drop Befehl ausgführt wurde ist die Spalte View leer.">
                    <div class="carousel-caption-mySql d-none d-md-block bg-dark">
                        <h5>Löschen des Views</h5>
                        <p>
                            Nachdem man die Daten im View verarbeitet hat und ihn nicht mehr benötigt kann man ihn mit
                            dem drop Befehl löschen.
                            Man kann Links unter Schemas, in Views erkennen, das die Spalte Views leer ist.
                            Die Daten sind in der Datenbank noch in ihrer Ursprünglichen Form enthalten.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev-mySql carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next-mySql carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

</section>

<!--    === MySQL-Liste ===-->

<section class="dark">

    <div class="container">
        <h4 class="col-12 text-center mb-5">Übersicht einiger Themen die im Kurs vermittelt wurden</h4>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h4 class="headline-project">Allgemeines über den Kurs</h4>
                <p class="font-italic text-muted mb-4">
                    Zeitraum<span class="date">März bis April 2020</span>
                </p>
                <article>
                    <p>
                        Nachdem ich mir in Java und Spring ein solides Wissen angeeignet hatte wurde es Zeit mich
                        mit Datenbanken zu beschäftigen, denn ich bin bei verschiedenen Projekten immer wieder
                        darauf gestoßen.
                        Auch meine Privatlehrer hat mich immer wieder auf die Wichtigkeit dieses Themas hingewiesen hat.
                        Während dem Corona Lockdown habe ich die Zeit genutzt um mich mit diesem Thema zu beschäftigen.
                        Da ich mit dem absolvierten Kurs nicht zu 100% zufrieden bin habe ich mich in einen weiteren
                        eingeschrieben.
                    </p>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 list hide-list">
                <ul>
                    <li>MySQL Workbench</li>
                    <li>Importing Databases</li>
                    <li>SELECT statement</li>
                    <li>Aliases to name columns</li>
                    <li>CONCAT function to join colums</li>
                    <li>Arithmetic operators</li>
                    <li>Using LEFT and RIGHT</li>
                    <li>WHERE clause</li>
                    <li>Grouping and summarizing</li>
                    <li>HAVING clause</li>
                    <li>SUM function</li>
                    <li>MIN and MAX function</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 list">
                <ul>
                    <li>AVG function</li>
                    <li>Selecting data from more than one table</li>
                    <li>Insert data</li>
                    <li>Update data</li>
                    <li>Delete data</li>
                    <li>Transactions</li>
                    <li>DDL statements</li>
                    <li>DML statements</li>
                    <li>Create database table</li>
                    <li>Update tables</li>
                    <li>Add and remove column</li>
                    <li>Add and remove foreign key</li>
                </ul>
            </div>
        </div>

    </div>

</section>

<!--    === Footer ===-->

<footer>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="mt-3 copyright-text text-center">
                    &copy;2020 <a class="link" href="index.html#header">Marco Happe</a>
                </p>
            </div>
        </div>
    </div>

</footer>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>

</body>
</html>